* {
	font-family: 'Kumbh Sans', sans-serif;
}
html {
	font-size: 16px;
}
body {
	background-image: url("../img/background.png");
	margin: 0px;
	background-repeat: no-repeat;
	background-size: contain;
}
.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}
.row {
	margin-right: 0;
	margin-left: 0;
}
.header.row {
	margin-right: 0;
}
.header.row .col-sm-1 {
	padding-left: 0px;
}
.header.row .col-sm-3.logo {
	padding-left: 10px;
	padding-top: 23px;
}
.header.row .col-sm-3.logo img.logo {
	width: 70%;
}
.col-sm-5.nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0 90px 10px 45px;
}
.col-sm-5.nav div {
	font-weight: 600;
	font-size: 0.83rem;
	color: #3e3c3b;
}
.col-sm-5.nav div.home {
	color: #e6432e;
}
.header.row .col-sm-4 {
	padding-left: 0;
}
.button.button1 {
	background-color: #fdefe2;
	border: none;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 30px;
}
.register.row {
	margin-top: 0.5rem;
}
.register.row .events p.line_first {
	margin-bottom: 0px;
}
.register.row .col-sm-6.topright {
	padding-left: 0px;
}
.build_platform h1 {
	color: #e4452e;
}
.build_platform_second {
	margin-top: 4.7rem;
}
button.button_register_top {
	background-color: #ea622f;
	border: none;
	color: white;
	padding: 13px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 30px;
	font-weight: 900;
}
.button.button2 {
	background-color: #f69c37;
	border: none;
	color: white;
	padding: 0.38rem 1.7rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 1rem;
	font-weight: 600;
}
.build_platform_first button.button.button1 .span_first {
	font-size: 1rem;
	font-weight: 900;
	color: #2b2b2b;
}
.build_platform_first button.button.button1 .span_second {
	font-size: 1.5rem;
	color: #2a2a2a;
	font-weight: 900;
}
.register.row .col-sm-5.first button.button.button1 {
	background-color: #fdeee2;
	border: none;
	font-size: 0.83rem;
	color: #3e3c3b;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 1.6rem;
	font-weight: 900;
}
.register.row .events p.line_second {
	margin-bottom: 0;
}
.register.row .events {
	color: #2a2a2a;
	font-size: 1.5rem;
	line-height: 1.83rem;
}
.register.row .col-sm-5.first {
	padding-top: 75px;
}
.empowers.row {
	margin-top: 4.1rem;
}
.empowers_heading {
	font-weight: 900;
	line-height: 4rem;
}
.empowers_heading p {
	color: #e4452e;
	font-size: 2.4rem;
	margin-bottom: 0;
}
.empowers_heading p.black {
	color: black;
	font-size: 3.65rem;
}
.empowers.row .col-sm-6 {
	padding-right: 0px;
	padding-left: 0px;
}
.empowers.row .empowers_text {
	padding-left: 18px;
}
.empowers.row .col-sm-6 img.midlogo {
	width: 19%;
}
.empowers.row .empowers_text_first {
	margin-top: 1.7rem;
	color: #161616;
	font-size: 1.15rem;
	font-weight: 500;
}
.empowers.row .empowers_normal {
	color: #4f4a48;
}
.empowers.row p.empowers_text_line {
	margin-bottom: 2px;
}
.empowers.row .col-sm-5.mid_right {
	display: flex;
	align-items: flex-end;
	padding-left: 0;
	padding-bottom: 1.3rem;
}
.empowers.row .col-sm-6 {
	padding-left: 0;
}
.learnright {
	width: 95%;
}
.text.row {
	margin-top: 7rem;
}
.text.row img.smalllogo {
	width: 4rem;
	padding-bottom: 0.6rem;
}
.text.row .text_heading {
	font-size: 2.38rem;
	line-height: 2rem;
}
.text.row .text_heading p.second {
	margin-bottom: 5px;
}
.table.row .col-12.col-sm-4.table_first {
	padding-left: 5.4rem;
}
.table.row .card ul.no_bullet {
	letter-spacing: -0.5px;
}
.table.row .col-12.col-sm-4.table_second {
	padding-right: 5.2rem;
	margin-top: 5rem;
}
.col-sm-10.mid_text {
	text-align: center;
	color: #e4452e;
}
.col-sm-10.mid_text .text_logo {
	color: black;
	font-size: 2.25rem;
}
img.topright {
	max-width: 91%;
}
.table.row {
	margin-top: 0.5rem;
}
.tablehead.row .col-sm-4 p {
	font-size: 2.4rem;
}
.table_featureshead.row {
	margin-top: 7rem;
}
.table_featureshead.row .col-6 {
	text-align: center;
}
.table_featureshead.row .col-6 p {
	font-size: 2.4rem;
}
.tablehead.row {
	margin-top: 7rem;
}
.table.row .jumbotron p.text-center {
	font-size: 1.20rem;
}
.jumbotron {
	padding: 1.5rem 2rem;
	border-radius: 0.5rem;
	color: white;
	margin-bottom: 0;
}
.jumbotron.first {
	background-color: #f8a930;
}
.card .jumbotron .text-center {
	margin-bottom: 0px;
}
.card-title.second p,
.card-title.third p,
.card-title.fourth p {
	margin-bottom: 0;
}
.table.row .col-12.col-sm-4.table_first .card-body.text-center.text {
	padding: 2.2rem 3rem 3.7rem 2rem;
}
.table.row .col-12.col-sm-4.table_second .card-body.text-center.text {
	padding: 2.5rem 3rem 1rem 2rem;
}
.col-12.col-sm-3.table_second .card-body.text-center.text {
	padding-bottom: 1rem;
}
.jumbotron.second {
	background-color: #ea622f;
}
.table.row .card {
	border: none;
	border-radius: .5rem;
	box-shadow: 0px 0px 9px 2px rgba(77, 74, 77, 0.25);
}
.table_features {
	margin-top: 40px;
}
.table_features .card {
	border: 1px solid #f9e3d8;
	border-radius: 0.55rem;
	box-shadow: 0px 0px 9px 2px rgba(77, 74, 77, 0.25);
}
.table_features .col-6.col-sm-2 {
	padding: 0 18px;
}
.table_features .jumbotron.features {
	background-color: white;
	text-align: center;
	padding: 1rem 2rem;
}
.table_features .card-body.text-center.text {
	padding: 0.3rem 1rem 2rem 1rem;
}
.table_features p.card-title.first {
	padding-top: 23px;
}
.table_features .cardtext {
	font-size: 0.9rem;
	color: #2b2b2b;
	font-weight: 500;
	letter-spacing: -0.5px;
	line-height: 1.2rem;
}
.table_features .card-body.text-center.text .cardtext p {
	margin-bottom: 5px;
}
.table_features .card-title {
	margin-bottom: 1.5rem;
}
.table_features.row .card.features {
	height: 100%;
}
.table_features.row .col-6.col-sm-2 p.card-title {
	color: #161616;
}
.smalltextshead.row {
	margin-top: 6.5rem;
}
.smalltextshead.row .smalltextshead_heading {
	color: #f16b30;
	font-size: 2.4rem;
}
.smalltextshead.row .col-sm-8 {
	text-align: center;
}
.smalltexts.row {
	margin-top: 1.1rem;
}
.smalltexts.first.row {
	margin-top: 0;
}
.smalltexts.row .col-sm-8 {
	text-align: center;
	color: #afafaf;
}
.smalltexts.row .col-sm-8.third {
	padding: 0;
}
.smalltexts.row .col-sm-8 div {
	font-size: 1.42rem;
}
.smalltexts.row .col-sm-8 {
	display: flex;
	justify-content: space-evenly;
}
.virtual.row .col-sm-6 {
	padding-left: 10px;
}
.virtual.row {
	margin-top: 12rem;
}
.row.virtual_row.first {
	color: #e4452e;
	font-size: 3.65rem;
	line-height: 4.5rem;
}
.virtual.row .row.virtual_row.second .card-title {
	color: #2a2a2a;
	font-size: 1.8rem;
	line-height: 1.83rem;
	margin-bottom: 1.3rem;
}
.virtual.row .row.virtual_row.first p.card-title {
	margin-bottom: 0px;
}
.virtual.row .row.virtual_row.third .col-sm-5 {
	background: url(../img/time.png) no-repeat left;
	padding-top: 0px;
	text-align: end;
	padding-right: 1.7rem;
	max-width: 30%;
}
.virtual.row .row.virtual_row.third .col-sm-7 {
	background: url(../img/calander.png) no-repeat left;
	padding-left: 5.2rem;
	padding-top: 0px;
	text-align: left;
}
.virtual.row .row.virtual_row.second {
	margin-top: 1.7rem;
}
.virtual.row .row.virtual_row.third .col-sm-5 .time,
.virtual.row .row.virtual_row.third .col-sm-7 .date {
	color: #2a2a2a;
	font-size: 1.45rem;
	line-height: 1.83rem;
}
.row.virtual_row.third .time_virtual {
	color: #191919;
	font-weight: 500;
	font-size: 1.1rem;
}
.virtual.row .row.virtual_row.fourth {
	margin-top: 4rem;
}
.virtual.row .row.virtual_row.fourth li.checks {
	color: #191919;
	font-size: 1.15rem;
	font-weight: 500;
	letter-spacing: -0.5px;
	line-height: 1.4rem;
	height: 3rem;
	padding-left: 2rem;
}
.virtual.row .row.virtual_row.fourth .col-sm-8 {
	padding-left: 0px;
}
ul.no_bullet {
	list-style-type: none;
	padding: 0;
	margin: 0;
	color: #2b2b2b;
}
li.checks {
	background: url(../img/check.png) no-repeat left top;
	height: 60px;
	padding-left: 44px;
	padding-top: 0px;
	text-align: left;
	line-height: 1.3rem;
}
li.checks.user {
	height: 40px;
}
li.checks.conduct {
	height: 77px;
}
.virtual.row .row.virtual_row.fourth li.checks.third {
	margin-top: 13px;
}
.virtual.row .row.virtual_row.fourth p.platform {
	color: #2a2a2a;
	font-size: 1.8rem;
	line-height: 1.83rem;
	margin-bottom: 1.3rem;
}
.virtual.row .row.virtual_row.fourth ul.no_bullet {
	list-style-type: none;
	padding-right: 2rem;
	margin-top: 1.7rem;
}
.virtual.row .col-sm-5.img img.lower_right {
	width: 76%;
}
.virtual.row .col-sm-5.img {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 1rem;
	padding-right: 0px;
	padding-top: 5rem;
}
.row.learn_head {
	margin-top: 2.2rem;
	margin-bottom: 0;
}
div.learn {
	background-color: #fff;
	margin: 10px;
	border: none;
	border-radius: .3rem;
	box-shadow: 0px 0px 10px 3px rgba(241, 138, 97, 0.67);
}
.button.register {
	background-color: #191919;
	border: 2px solid #8cbefd;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 30px;
}
.row.learn_head .col-sm-11 {
	padding-left: 10px;
}
.learns.row .col-sm-3.learn {
	margin-top: 0;
	padding-left: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.learns.row .col-sm-3.learn.div1 {
	margin-top: 0;
	padding-left: 5px;
	margin-right: 1rem;
}
.learns.row .col-sm-3.learn.div3 {
	margin-bottom: 0;
}
.learns.row .col-sm-3.learn .learns_img {
	text-align: center;
	padding-bottom: 0;
	padding-top: 5px;
}
.learns.row .col-sm-3.learn p {
	margin-bottom: 0.2rem;
	color: #363636;
	font-size: 1.1rem;
	font-weight: 500;
	line-height: 1.4rem;
}
.learns.row .col-sm-3.learn img {
	margin-top: 5px;
	width: 97%;
}
.learns.row .col-sm-3.learn.div2 {
	padding-right: 0.8rem;
	margin-right: 1rem;
	padding-left: 2px;
}
.row.learn_head h4.heading {
	color: #2a2a2a;
	font-size: 1.8rem;
	line-height: 1.83rem;
	margin-bottom: 1.3rem;
}
.learns.row .col-sm-3.learn div {
	padding: 1.1rem 0 1.1rem 0.8rem;
	text-align: left;
}
.learns.row {
	display: flex;
	align-items: center;
}
.learns.row .col-sm-3.learn.div3 .learns_text {
	padding-left: 0rem;
	padding-right: 5rem;
}
.integrate.row {
	margin-top: 50px;
}
img.Integrate {
	width: 100%;
	box-shadow: 0px 0px 10px 3px rgba(241, 138, 97, 0.67);
}
.integrate.row .col-sm-10 {
	padding-left: 10px;
}
.integrate.row h4.heading {
	color: #2a2a2a;
	font-size: 1.8rem;
	line-height: 1.83rem;
	margin-bottom: 1.7rem;
}
img.register_footer {
	width: 78%;
}
.register_footer.row .col-sm-4.footer_left {
	padding-left: 0px;
}
.button.register_footer {
	background-color: #191919;
	border: none;
	color: white;
	padding: 2rem 3.5rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 3.5rem;
	font-size: 2.2rem;
}
.register_footer.row .col-sm-4.footer_button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding-top: 8.5rem;
}
.register_footer.row {
	margin-top: 5rem;
}
.register_footer.row .col-sm-4.footer_left {
	padding-left: 0px;
	padding-top: 2rem;
}
.register_footer.row .row.footer_logo {
	margin-top: 7rem;
}
.register_footer.row .row.footer_logo img.register_footer_logo {
	width: 97%;
}
img.footer {
	width: 100%;
}